.area_posts {
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    padding: 3px;
    margin-top: 5px;
}

.posts {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.posts h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 5px auto;
    padding: 5px;
}

.myNewPost {
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

.myNewPost button {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: blueviolet;
}

.textarea {
    width: 470px;
    height: 50px;
    resize: none;
    border-radius: 5px;
}