.news_block {
    background-color: #fff;
    border-radius: 5px;
    min-height: 400px;
}

.news_block h3 {
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}

.news {
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 5px;
}