.dialog {
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgb(215, 215, 215);
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-gap: 3px;
    grid-template-areas:
        "photo message";
}

.dialog img {
    grid-area: photo;
    margin: 10px;
    width: 55px;
    height: 50px;
    border-radius: 25px;
}

.message {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.message p {
    grid-area: message;
    top: 10px;
    left: 10px;
    margin: 0 auto;
}